/*
    Styling common elements
*/
:root {
    --button-color: #7994d7;
    --white-color: #fff;
}

* {
    box-sizing: border-box;
}

*:focus-visible {
    outline: none;
}

html {
    font-family: 'Open Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Kenia&display=swap');

h1 {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

button {
    margin: 0;
    padding: 0;
}